export TF_VAR_vsphere_server="vsphere.acme.com"
export TF_VAR_vsphere_username="admin@acme.com"
export TF_VAR_vsphere_password="super-secure-passw0rd"
export TF_VAR_datacenter="acme-datacenter"
export TF_VAR_resource_pool="acme-vm-resource-pool"
export TF_VAR_host="esxi1.acme.com"
export TF_VAR_datastore="vm-datastore"
export TF_VAR_network="secure-secure-vlan"
export TF_VAR_cdo_base_url="https://www.defenseorchestrator.com"
export TF_VAR_cdo_api_token="replace-with-a-real-api-token"
export TF_VAR_cdo_tenant_name="CDO_acme"
export TF_VAR_ip_address="10.10.5.122"
export TF_VAR_gateway="10.10.5.1"
export TF_VAR_cdo_user_password="super-secure-password-2"
export TF_VAR_root_user_password="super-secure-password-3"